.footer {
    background-color: #646262;
    color: white;
    padding: 60px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px; 
    padding: 0 20px;
}

.footer-content p {
    font-size: 18px;
}

.footer-content nav ul {
    list-style: none;
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    padding: 0;
}

.footer-content nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.footer-content nav ul li a:hover {
    text-decoration: underline;
}


.social-icons {
    display: flex;
    gap: 15px; 
    justify-content: center;
}

.social-icon {
    color: white;
    font-size: 20px;
    transition: color 0.3s ease; 
}

.social-icon:hover {
    color: #1da1f2;
}


@media (max-width: 768px) {
    .footer-content {
        padding: 20px;
    }

    .footer-content p {
        font-size: 16px;
    }

    .footer-content nav ul li a {
        font-size: 14px;
    }

    .footer {
        padding: 20px 0;
    }

    .social-icons {
        gap: 10px;
    }
}

.footer {
    background-color: #343a40;
    color: white;
}

.footer-content p {
    margin: 0;
    font-size: 16px;
}

.footer nav ul {
    list-style-type: none;
    padding: 0;
}

.footer nav ul li {
    display: inline;
    margin-right: 15px;
}

.footer nav ul li a {
    color: white;
    text-decoration: none;
}

.footer nav ul li a:hover {
    color: #07d269;
}

.social-icons a {
    color: white;
    font-size: 20px;
}

.social-icons a:hover {
    color: #07d269;
}


.section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.navbar {
    background-color: #007bff;
}

.navbar-brand {
    font-weight: bold;
    color: rgb(10, 10, 10);
}

.navbar-nav .nav-link {
    color: rgb(11, 11, 11) !important;
}

.navbar-nav .nav-link:hover {
    color: #07d269 !important;
}
.services {
    margin-top: 30px;
}

.services h3 {
    font-size: 1.8em;
    color: #333;
}

.services ul {
    list-style-type: none;
    padding-left: 0;
}

.services li {
    margin-bottom: 15px;
    font-size: 1.1em;
    line-height: 1.5;
}

.services li strong {
    color: #0073e6; /* Color for the service title */
}

